
@font-face {
  font-family: "Clab";
  src: url("../fonts/clab/clab.otf");
}
@font-face {
  font-family: "Clab";
  src: url("../fonts/clab/clab_bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Clab";
  src: url("../fonts/clab/clab_italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Clab";
  src: url("../fonts/clab/clab_bold_italic.otf");
  font-weight: bold;
  font-style: italic;
}
body,
ul {
  margin: 0;
  padding: 0;
  background-color: #ffffff00;
  text-align: center; 
}
 a {
  color:rgb(253, 253, 253);
  text-decoration: none;
  font-family: 'clab_italic', sans-serif;
  font-size: 15px; 
}
a:hover {
  text-decoration: none;
  color: rgb(8, 253, 61);
}
#logo {
  width: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  margin-left: 20px;
}
.header {
width:100%;
  padding: 20px 20px;
  box-sizing: border-box;
  height: 75px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #05050502;
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  border:none;
}
#menu a {
  display: block;
  padding: 0.5rem;
  border:none;
}
#btn-mobile {
  color: rgb(255, 255, 255);
  display: none;
  font-family: 'Raleway', sans-serif;
  border:none;
}
#hamburger {
  border-top: 2px solid;
  width: 20px;
  margin-left: 10px;
  color: white;
  
}
#hamburger::after,
#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 2px;
  transition: 0.3s;
  position: relative;
}
#nav.active #hamburger {
  border-top-color: transparent;
}
#nav.active #hamburger::before {
  transform: rotate(135deg);
}
#nav.active #hamburger::after {
  transform: rotate(-135deg);
  top:-4px;
}
.header {
  background: #3d166c;
}